body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  display: inline-flex;
  margin: 20px;
  padding: 15px;
  padding-top: -3px;
  padding-bottom: -3px;
}

#inLine {
  display: flex;
}

#avatar {
  padding: 25px;
  width: 250px;
  height: 250px;
}